@import 'styles/colors';
@import 'styles/media';
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  max-width: 90%;
  padding: 50px 40px;
  background: linear-gradient(90deg, $bg-form-first 0%, $bg-form-second 100%);
  border: 2px solid $black;
  box-shadow: 0 0 50px $black;
  border-radius: 20px;
  @include media-breakpoint-down(sm) {
    width: 300px;
    padding: 30px 20px;
  }

  h1 {
    margin-bottom: 5px;
    font-size: 32px;
    color: $title-color;
    text-align: center;
    @include media-breakpoint-down(sm) {
      font-size: 26px;
      margin: 0;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .info {
      text-align: center;
      font-size: 16px;
      color: $error-color;
    }
    button {
      height: 40px;
      min-width: 200px;
      margin-top: 15px;
      padding: 5px 10px;
      align-self: center;
      font-size: 18px;
      color: $text-color;
      background-color: $button-color;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 50px $button-color;
      outline: none;
      transition-duration: 0.3s;
      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
      &:hover {
        color: $white;
        background-color: lighten($button-color, 10%);
      }
    }
    a {
      display: block;
      margin-top: 20px;
      text-align: center;
      text-decoration: none;
      color: $title-color;
      &:hover {
        color: darken($title-color, 10%);
      }
    }
  }
}
