@import 'styles/colors';
.wrapper {
  background-color: $bc-main;
  padding: 1rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 200px - 2rem);
    .button {
      margin-top: 10px;
      text-align: right;
    }
    h1 {
      text-align: center;
    }
  }
}
:global {
  .ant-btn {
    margin-top: 20px;
  }
}
