.text {
  width: 100%;
  margin: 0;
  span {
    background-color: #f0c5f0;
  }
}
.buttons {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    text-align: center;
  }
  button {
    padding: 3px 10px;
    margin-left: 10px;
    color: white;
    font-size: 12px;
    background-color: grey;
    border: none;
    border-radius: 10px;
    transition-duration: 0.3s;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-color: lighten(grey, 10%);
    }
  }
}
input {
  width: 100%;
  background-color: inherit;
  border: none;
}
.tags {
  display: block;
  width: 100%;
  text-align: left;
}
:global {
  .ant-list-item {
    flex-direction: column;
  }
  .ant-tag {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      background-color: darken(#fff0f6, 5%);
    }
  }
}
